body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: #4569CC;
    margin: 5px 0;
}

.hit__artist, .hit__title {
    margin: 0;
}

.hit__bio {
    margin: 0 0 15px 0;
}

.hit__info, .hit__collaborators {
    padding: 15px 10vw;
}

.hit__info {
    display: flex;
    flex-flow: column;
}

.hit__collaborate {
    cursor: pointer;
    padding: 100px 150px;
    text-align: center;
    border: 1px dashed black;
}