body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: #4569CC;
    margin: 5px 0;
}

.hit__cover {
    width: 250px;
}

.hit__container {
    background-color: #4569CC;
    color: white;
    display: flex;
    padding: 25px 10vw;
}

.hit__player--cover {
    align-self: center;
    margin-left: 30px;
    width: 100%;
}

.hit__artist, .hit__title {
    margin: 0;
}

.hit__bio {
    margin: 0 0 15px 0;
}

.hit__info, .hit__collaborators {
    padding: 15px 10vw;
}

.hit__info {
    display: flex;
    flex-flow: column;
}

.hit__collaborate {
    cursor: pointer;
    padding: 100px 150px;
    text-align: center;
    border: 1px dashed black;
}

.hit__player {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.hit__progress--container {
    height: 5px;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    background-color: #ffffff5e;
}

.progress {
    background: white;
    border-radius: 5px;
    height: 5px;
}

.hit__song--navigation {
    display: flex;
}

.action-btn {
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    margin: 0 25px;
}

.action-btn-big {
    font-size: 35px;
}