<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción</title>
    <link rel="stylesheet" href="/ArtistsMatch/static/CSS/style_bio.css">
</head>
<body>

    <header class="header">
        <!-- Imagen de portada del album -->
        <h2 class="texto1">
            Realizado Recientemente
        </h2>
        <h1 class="texto2">
            Nombre del proyecto
        </h1>
    <div>
        <!-- Portada de la cancion mas reciente -->
        <img src="/Imagenes/album1.jpg" alt="" class="principal">
    </div>
    <audio src="" controls></audio>

    <main>
        <h1 class="title_bio">Bio &#9996;&#127996 </h1>
        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga accusamus voluptate nihil, adipisci modi provident iusto fugiat necessitatibus at repellendus itaque, sed quisquam! Totam saepe illum eveniet ex, earum fuga!</p>

        <div class="box">

            <button class="boton_colaboracion"><a href="#" style="text-decoration: none;"><b> 🎵 <br> Sube tu colaboración</b></a></button>

        </div>
        <div>
            <h1 class="title_colab">Colaboradores 🎸</h1>
        </div>
    </main>

    <footer class="navegación">
        <div>
          <button class="boton_feed btn btn-light"><a href="#" style="text-decoration: none;"><b>🏠 Feed</b></a></button>
          <img src="/Imagenes/disco.png" class="imagen_navegacion">
          <button class="boton_perfil btn btn-light"><a href="#"style="text-decoration: none;"><b>🎸 Perfil</b></a></button>
        </div>
    </footer>
</header>
</body>
</html>