<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ArtistsMatch/static/CSS/style_inicio.css">
    <title>Inicio</title>
  
    
</head>
<body>

    <header class="header">
            <!-- Imagen de portada del album -->
            <h2 class="texto1">
                Realizado Recientemente
            </h2>
            <h1 class="texto2">
                Nombre del proyecto
            </h1>
        <div>
            <!-- Portada de la cancion mas reciente -->
            <img src="/Imagenes/album1.jpg" alt="" class="principal">
        </div>
        <audio src="" controls></audio>
    </header>

    <main>
        <div class="top"> 
            <h1 class="title1">
                Lo más fresh!🔥 
            </h1>
            <!-- Imagenes y nombre de las canciones disponibles -->
            <div class="song_image">
                <img src="/Imagenes/album1.jpg"  class="portada_cancion" alt="">
                <br>
                <div class="album_title">
                    <h4>Nombre de la cancion</h4>
                    <h5>Nombre del artista</h5>
                </div>
            </div>
            <div class="song_image">
                <img src="/Imagenes/album1.jpg"  class="portada_cancion" alt="">
                <br>
                <div class="album_title">
                    <h4>Nombre de la cancion</h4>
                    <h5>Nombre del artista</h5>
                </div>
            </div>
            <div class="song_image">
                <img src="/Imagenes/album1.jpg"  class="portada_cancion" alt="">
                <br>
                <div class="album_title">
                    <h4>Nombre de la cancion</h4>
                    <h5>Nombre del artista</h5>
                </div>
            </div>
            <div class="song_image">
                <img src="/Imagenes/album1.jpg"  class="portada_cancion" alt="">
                <br>
                <div class="album_title">
                    <h4>Nombre de la cancion</h4>
                    <h5>Nombre del artista</h5>
                </div>
            </div>
         </div>

    <div class="top">
        <h1 class="title2">
            Ultimos hits!🥊
        </h1>
        <!-- Imagenes y nombre de las canciones mas recientes -->
        <div class="song_image">
            <img src="/Imagenes/album1.jpg"  class="portada_cancion" alt="">
            <br>
            <div class="album_title">
                <h4>Nombre de la cancion</h4>
                <h5>Nombre del artista</h5>
            </div>
        </div>
        <div class="song_image">
            <img src="/Imagenes/album1.jpg"  class="portada_cancion" alt="">
            <br>
            <div class="album_title">
                <h4>Nombre de la cancion</h4>
                <h5>Nombre del artista</h5>
            </div>
        </div>
        <div class="song_image">
            <img src="/Imagenes/album1.jpg"  class="portada_cancion" alt="">
            <br>
            <div class="album_title">
                <h4>Nombre de la cancion</h4>
                <h5>Nombre del artista</h5>
            </div>
        </div>
        <div class="song_image">
            <img src="/Imagenes/album1.jpg"  class="portada_cancion" alt="">
            <br>
            <div class="album_title">
                <h4>Nombre de la cancion</h4>
                <h5>Nombre del artista</h5>
            </div>
        </div>
    </div>
    </main>
   <!-- Footer con menú -->
        <footer class="navegación">
            <div>
              <button class="boton_feed btn btn-light"><a href="#" style="text-decoration: none;"><b>🏠 Feed</b></a></button>
              <img src="/Imagenes/disco.png" class="imagen_navegacion">
              <button class="boton_perfil btn btn-light"><a href="#"style="text-decoration: none;"><b>🎸 Perfil</b></a></button>
            </div>
        </footer>
      
     
   
</body>
</html>