<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/ArtistsMatch/static/CSS/style_nueva_cancion.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <header>
        <a href="#" class="feed"><b> 🢀 Feed</b></a>
    </header>
    <main>
        <div class="texto_principal">
            <p><b>Crear nuevo hit</b></p>
        </div>
        <div class="formulario">
            <img src="/Imagenes/disco.png" class="imagen">
            <form action="" autocomplete="off">
                <label for="Nombre" class="Pos_Nombre">
                    <input type="text" class="tamanioN" placeholder="Nombre de la canción" id="Nombre"/>
                </label>
                <label for="Descripcion" class="Pos_Descripcion">
                    <input type="text" class="tamanioD" id="Tema" spellcheck="false" placeholder="Descripción"><br>
                </label>
                    <input type="submit" class="Enviar btn-primary" value="¡Crear hit!">
            </form>
            <input type="file" value="Subir" class="btn_subir btn-primary">
        </div>
    </main>
</body>
</html>