
*{
    font-family: 'Montserrat', sans-serif;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}


a{
    color: #4569cc;
    text-decoration: none;
}


body{
    background-size: cover;
}

form {
    display: flex;
    flex-flow: column;
    font-size: 18px;
}

.submit {
    border: none;
    background-color: #4569cc;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.title{
    color: #ffffff;
    font-size: 35px;
}

.subtitle{
    font-size: 60px;
    color: #4569cc;
    display: flex;
    justify-content: center;
}


.box {
    border-radius: 20px;
    background-color: #ffffff;
    padding: 25px;
    text-align:center;
}

.button{
    background-color: #4569cc;
    color: #ffffff;
}
