*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.header{
    height: 25vh;
    background: #4569cc;
}
.texto1{
    margin-left: 20rem;
    padding-top: 5rem;
    font-size: 1.5rem;
    color: beige;
}
.texto2{
    margin: 0;
    margin-left: 20rem;
    line-height: 0cm;
    color: beige;
   font-size: 5rem;
}

.principal{
    display: flex;
    align-items: center;  
    width: 15rem;
    margin-left: 1.5cm;
    margin-top: -2.5cm;
    border-radius: 10px;
}
audio{
    display: flex;
    align-items: center;  
    margin: 2.5rem;
    margin-left: 20rem;
    margin-top: -2cm;
}

.title_bio{
    color: #4569cc;
    font-size: 1.5cm;
    padding-inline-start: 1.5cm;
}

.description{
    
    padding-inline-start: 1.5cm;
}

.title_colab{
    color: #4569cc;
    font-size: 1.5cm;
    padding-inline-start: 1.5cm;
}

.box{
    margin-left: 25%;
}

.boton_colaboracion{

    align-items: center;
    border: 1px solid;
    margin: 50px;
    width: 800px;
    height: 200px;
    border-color: black;
    background: white;
    justify-content: center
}

.box h3{
    text-align: center;
    margin-top: 5rem;
}

.navegación div{
    align-items: center;
    display: inline-block;
    background: white;
    width: 100%;
    -webkit-box-shadow: -3px 0px 8px 2px rgba(0,0,0,0.75); 
    box-shadow: -3px 0px 8px 2px rgba(0,0,0,0.75);
}
.imagen_navegacion{
    left: 35%;
    bottom:7rem;
    position: relative;
    height: 17rem;
    width: 17rem;   
}

.boton_feed{
    font-size: 2rem;
    position: relative;
    left: 15%;
    bottom: 4rem;
    background: white;
}
.boton_perfil{
    font-size: 2rem;
    position: relative;
    left: 45%;
    bottom: 4rem;
    background: white;
}