{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'CSS/hits/player.css' %}">
<link rel="stylesheet" href="{% static 'CSS/hits/hit.css' %}">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
>
{% endblock styles %}

{% block content %}
{% include "hits/player.html" with hit=hit creator=creator %}
<div class="hit__info">
    <h1 class="hit__info--title title">Bio</h1>
    <p class="hit__bio">{{ hit.description }}</p>
    <a href="{% url 'hits:collaborate' hit.pk %}" class="hit__collaborate">
        🎵 Sube tu colaboración
    </a>
</div>
<div class="hit__collaborators">
    <h1 class="hit__collaborators--title title">Colaboradores</h1>
    {% for collaborator in hits.collaborators %}
        <p>{{ collaborator }}</p>
    {% endfor %}
</div>
{% endblock content%}


{% block js %}
<script src="{% static 'js/hits/player.js' %}"></script>
{% endblock js %}